h1{
	color: black;
	text-align: center;
	font size: 14pt;
	font-family: Monospace;
}

h2{
	color: blue;
	text-align: center;
	font-size: 16pt;
	font-family: fantasy;
}
body { background-image: url("/bachi/imagenes/fondo2.jpg");
height: 200vh;
background-position: center;
background-repeat: no-repeat; 
background-size: cover;}